numpy
pandas
scikit-learn
scipy
joblib
torch
tensorflow
shap
lime
alibi
captum
matplotlib
seaborn
plotly
dash
ipywidgets
tqdm
pyyaml
typing-extensions
pytest
pytest-cov
pytest-mock
pytest-xdist
coverage
black
flake8
isort
mypy
pylint
bandit
types-PyYAML
types-setuptools
types-requests
Sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-copybutton
nbsphinx
ipython
build
twine
wheel
pre-commit
Sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-gallery
nbsphinx
jupyter
ipython
pandoc
notebook
jupyterlab
ipywidgets
tensorboard
torch-vision
tensorflow-probability
bokeh
altair
holoviews
eli5
interpret
interpret-core
numba
dask
vaex
faker